{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='cascade.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Where's the Cola?</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
		-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
<!--
  <h1>Where's the Cola?</h1>
-->
  What do your favorite places have to drink? Coke or Pepsi? Now you can know.

    <table class="table table-striped table-hover ">
      <thead>
        <th>Location</th>
        <th>Cola</th>
      </thead>
        <tbody>
        {% for row_index in range(x|count) %}
            <tr> <!-- class="danger"-->
              <td><b>{{ x[row_index][0]}}</b></td>
              <td>{{ x[row_index][1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   <footer class="footer">
      <div class="container">
        <p class="text-muted">Any corrections, addtions, or feedback please contact me.</p>

      </div>
    </footer>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
